/*
yellow: #f6bd60
dark pink: #f28482
grey: #84a59d
light pink: #f5cac3
*/

body {
    background-color: #f6bd60;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    width: 75vw;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}
.container__box {
    display: flex;
    flex-wrap: wrap;
    width: 273px;
    height: 220px;
    margin: 10px;
    padding: 10px;
}
.container__box--1, .container__box--3, .container__box--5 {
    background-color: #f28482;
}
.container__box--2, .container__box--4 {
    background-color: #84a59d
}
.container__box--1 {
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.container__box--2 {
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
}
.container__box--3 {
    justify-content: space-between;
    align-content: space-between;
}
.container__box--4 {
    justify-content: space-between;
    align-content: space-around;
}
.container__box--5 {
    justify-content: center;
    align-items: center;
    align-content: center;
}
.container__circle {
    background-color: #f5cac3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}